
.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(175, 163, 163);
}
.countries{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    width: 80%;
    margin: 20px auto;
}
.country{
    /* background-color: antiquewhite; */
    padding: 10px; 
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(218, 214, 214);
}
.country img{
    width: 200px;
}
@media screen and (max-width:900px){
    .countries{
        display: grid;
        grid-template-columns: auto auto;
        
    }
}
@media screen and (max-width:600px){
    .countries{
        display: grid;
        grid-template-columns: auto;
       
    }
}